NODE_ENV=development

# API
PORT=3001
API_PREFIX=api/v1
API_DOCS_PATH=api/docs
MONGODB_URI=mongodb://admin:Ncm%40647534@104.234.173.105:27017/atera?authSource=admin
REDIS_HOST=redis
REDIS_PORT=6379
DISABLE_QUEUES=false
MONITORING_RECONCILE_ENABLED=true
DEVICE_OFFLINE_THRESHOLD_SECONDS=90
HEARTBEAT_TIMEOUT_CHECK_INTERVAL_MS=30000
JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# Web
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
